# data
official_data/
public_data/
datasets/
data/

# training outputs
runs/
weights/
results/
vis/

# model weights and export files
*.pt
*.pth
*.onnx
*.engine
*.torchscript

# archives
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# logs and temp files
*.out
*.log
file_tree_summary.txt
file_list_code.txt

# python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# system files
.DS_Store
